<!doctype html>
<html>
<head>
    <title>My Schedule</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/jquery.gridster.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/schedulestyle.css">
    <script type="text/javascript" src="public/javascripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="public/javascripts/jquery.gridster.js" charster="utf-8"></script>
    <script type="text/javascript" src="public/javascripts/bootstrap.min.js"></script>
    <style>
        body        { padding-top:60px; word-wrap:break-word; }
    </style>
</head>
<body>
<% include header %>
<div class="container-fluid">

    <div class="page-header text-center">
        <h1>My Schedule</h1>
    </div>
    <div class="schedule-tools">
       <button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">
          Save schedule
        </button>
        <script>
          $('#loading-example-btn').click(function () {
            var btn = $(this)
            btn.button('loading')
            var s = $('.gridster.classes ul').data('gridster').serialize();
            console.log(s);
            $.ajax({
                type: "POST",
                url: "/schedule/save",
                data: {courses:s},
                success: function(data, status) {
                  console.log("success?");
                }
                }).always(function () {
              btn.button('reset')
            });
          });
        </script>
    </div>
    <section class="schedulegrid">
        <div class="gridster semesters">
            <ul>
                <% for(var i=1; i <= 10; i++) {%>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <h1>Semseter <%=i%></h1>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="gridster classes">
            <ul>
                <!--
                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" name="MATH4123">
                    <h1>Linear Algebra</h1>
                    <p>MATH 4123</p>
                    <button type="button" class="btn btn-default" data-toggle="popover"
                        title="Course info" data-container="body"
                        data-content="The course is very good and stuff and I would recommend it to anyone that takes courses from a professor that is a professor and this is a long description">i</button>
                </li>
                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" name="ASDF">
                <h1>Goodbye</h1>
                <button type="button" class="btn btn-default" data-toggle="popover"
                    title="Course info" data-container="body"
                    data-content="The course is very good and stuff">i</button>
                </li>
                <% for(var i=1; i <= 5; i++) {%>
                <li data-row="<%=i%>" data-col="2" data-sizex="1" data-sizey="1" name="aaaaa"><h1>Hello</h1></li>
                <% } %>
                <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" name="bbbbb"><h1>Such Column</h1></li>
                -->
            </ul>
        </div>
    </section>
</div>
<% include footer %>

    <script type="text/javascript">
    $(function() {
        var popover
        $('.btn-default').popover({
                        html: true,
                        trigger: 'manual'
                    }).click(function(e) {
                        popover = $(this).popover('show');
                    });
        var removepopover = function(e) {
            classList = e.target.className.split(/\s+/);
            var j = false;
            for (var i = 0; i < classList.length; i++) {
               if (classList[i] === 'btn-default') {
                 j = true;
               }
            }
            if(!j){
                if(popover){
                    popover.popover('hide');
                }
            }
        };
        $('.gridster li').mousedown(removepopover);
        $('body').mousedown(removepopover);
    });
    </script>
    <script type="text/javascript">
        $(function() {
            var gridster = $(".gridster.classes > ul").gridster({
                namespace: '.classes',
                widget_margins: [7, 7],
                widget_base_dimensions: [130, 100],
                max_cols: 10,
                min_cols: 8,
                serialize_params: function(courseDOM, coords) {
                    return {col: coords.col, row: coords.row, size_x: coords.size_x, size_y: coords.size_y, courseName: $(courseDOM).attr('name')}}
            });
            console.log(<%-JSON.stringify(user.schedule)%>);
            <% for(var i=0; i < user.schedule.length; i++){ %>
            console.log('<%= user.schedule[i].number %>');
            gridster.data('gridster').add_widget('<li> <h1><%=user.schedule[i].number%></h1></li>', <%= user.schedule[i].size_x %>, <%= user.schedule[i].size_y %>, <%= user.schedule[i].col %>, <%= user.schedule[i].row %>);
                <% } %>
        });

    </script>
    <script type="text/javascript">
        $(function() {
            $(".gridster.semesters > ul").gridster({
                namespace: '.semesters',
                widget_margins: [7, 7],
                widget_base_dimensions: [130, 50],
                max_cols: 10,
                min_cols: 8
            }).data('gridster').disable();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".gridster.classes li").hover(function(){
                $(".gridster.classes li").css("box-shadow", "0 0 10px #fe2e2e");
            },function(){
                $(".gridster.classes li").css("box-shadow", "0 0 0px #fe2e2e");
            });

            $('#test').popover();
        });
    </script>

</body>
</html>
